.auto-upload{
	.action {
		width: 200px;
	}
	.status {
		width: 100px;
	}
    .url-content{
        
    }
    table tbody tr td {
    	vertical-align: middle;
    }
    .search-bar {
    	width: 300px;
    	display: inline-block;
    }
}