.auto-upload .action {
  width: 200px;
}
.auto-upload .status {
  width: 100px;
}
.auto-upload table tbody tr td {
  vertical-align: middle;
}
.auto-upload .search-bar {
  width: 300px;
  display: inline-block;
}
