<div class="panel panel-default auto-upload">
    <div class="panel-body tool-bar">
        <div class="text-right">
            <div class="search-bar">
                <input ng-model="searchFilter" placeholder="过滤抓取图片地址" class="form-control search-query" ng-change="doFilter()">
            </div>
            <button class="btn btn-primary" ng-click="controller.uploadFile()">上传图片地址列表</button>
            <button class="btn btn-primary" ng-click="controller.doBatch()" ng-disabled="doingBatch">批量绑定</button>
            <button class="btn btn-primary" ng-click="controller.stopBatch()" ng-show="doingBatch">停止</button>
        </div>
        <div class="form-horizontal row" style="margin-top: 10px">
            <div class="form-group col-sm-12">
                <div class="">
                    <label class="col-sm-2 control-label">Source Dir</label>
                    <div class="col-sm-10">
                        <input class="form-control" ng-model="sourceDir">
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-6" ng-hide="true">
                <div class="">
                    <label class="col-sm-4 control-label">Synced Dir</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="syncedToDir">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>地址</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="item in list | filter: searchFilter as finalList" ng-class="{success: item.success, danger: item.error}">
                    <td class="number">{{$index + 1}}</td>
                    <td class="url-content">
                        <div>{{item.url}}</div>
                    </td>
                    <td class="status">
                        <div>{{item.status}}</div>
                    </td>
                    <td class="action">
                        <div class="action-content">
                            <button ng-disabled="doingBatch" ng-click="controller.handle(item)" class="btn btn-default btn-xs">处理</button>
                            <button ng-disabled="doingBatch" class="btn btn-danger btn-xs" ng-show="item.error" popover-trigger="click" popover-placement="left" popover="{{item.errorMessage}}">错误信息</button>
                            <button ng-disabled="doingBatch" ng-click="controller.remove($index)" class="btn btn-default btn-xs">删除</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
