.header .header-wrap {
  padding: 11px;
}
.header .icon-fix {
  color: gray;
  font-size: 25px;
}
.container-fluid {
  margin-top: 60px;
  margin-bottom: 31px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 30px;
  background-color: red;
}
.panel-title a {
  cursor: pointer;
}
.nav li {
  cursor: pointer;
}
.vertical-middle {
  vertical-align: middle;
}
