.header {
    height: 70px;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
.container {
    margin-top: 10px;
    margin-bottom: 31px;
    .left-container {
        padding: 5px;
        padding-top: 0px;
    }
    right-container {

    }
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: 30px;
    background-color: red;
}

.panel-title a {
    cursor: pointer;
}
.nav li {
    cursor: pointer;
}