<div class="panel panel-default auto-upload">
    <div class="panel-body tool-bar">
        <div class="text-right">
            <div class="search-bar">
                <input ng-model="searchFilter" placeholder="过滤上传产品的URL" class="form-control search-query" ng-change="doFilter()">
            </div>
            <button class="btn btn-primary" ng-click="controller.uploadFile()">上传产品地址列表</button>
            <div class="btn-group" dropdown>
                <button class="btn btn-default dropdown-toggle">选择分类 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu catalog-list-content" role="menu">
                    <li class="category-filter">
                        <input class="form-control" ng-click="$event.stopPropagation()" ng-model="categoryFilter">
                    </li>
                    <li ng-repeat='category in categoryList | filter: categoryFilter' ng-click='controller.selectCategory(category)'><a href>{{category.displayName}}</a>
                    </li>
                </ul>
            </div>
            <button class="btn btn-primary" ng-click="controller.doBatch()" ng-disabled="doingBatch">批量自动上传</button>
            <button class="btn btn-primary" ng-click="controller.stopBatch()" ng-show="doingBatch">停止</button>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>地址</th>
                    <th>分类列表</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="item in list | filter: searchFilter as finalList" ng-class="{success: item.success, danger: item.error}">
                    <td class="number">{{$index + 1}}</td>
                    <td class="url-content">
                        <div>{{item.url}}</div>
                    </td>
                    <td class="catalog-list">
                        <div>
                            <div class="btn-group" dropdown>
                                <button class="btn btn-primary btn-xs dropdown-toggle">选择分类 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu catalog-list-content" role="menu">
                                    <li class="category-filter">
                                        <input class="form-control" ng-click="$event.stopPropagation()" ng-model="categoryFilter">
                                    </li>
                                    <li ng-repeat='category in categoryList | filter: categoryFilter' ng-click='controller.selectCategory(category,item)'><a href>{{category.displayName}}</a>
                                    </li>
                                </ul>
                            </div>
                            <button ng-show="item.categories && item.categories.length > 0" class="btn btn-default btn-xs" ng-click="controller.editCategory(item)">编辑已选分类</button>
                        </div>
                    </td>
                    <td class="status">
                        <div>{{item.status}}</div>
                    </td>
                    <td class="action">
                        <div class="action-content">
                            <button ng-disabled="doingBatch" ng-click="controller.handle(item)" class="btn btn-default btn-xs">处理</button>
                            <button ng-disabled="doingBatch" class="btn btn-danger btn-xs" ng-show="item.error" popover-trigger="click" popover-placement="left" popover="{{item.errorMessage}}">错误信息</button>
                            <button ng-disabled="doingBatch" ng-click="controller.remove($index)" class="btn btn-default btn-xs">删除</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<script type="text/ng-template" id="selectCategory">
	<h3>选择分类</h3>
    <div ng-repeat="category in categories">
    	<label><input type="checkbox" ng-model=category.selected>{{category.Name}}</label>
    </div>
    <div>
    	<button class="btn btn-primary" ng-click="confirm(categories)">确定</button>
    	<button class="btn btn-default" ng-click="closeThisDialog()">取消</button>
    </div>
</script>